.THIS.imd-program-journey {
  width: 100%;
  border: 1px solid #bdbdbd; }
  .THIS.imd-program-journey .imd-previus-journey,
  .THIS.imd-program-journey .imd-next-journey {
    background-color: #dcdcdc;
    max-width: 80px;
    cursor: pointer; }
    .THIS.imd-program-journey .imd-previus-journey .imd-scroll-action,
    .THIS.imd-program-journey .imd-next-journey .imd-scroll-action {
      height: 100%; }
      .THIS.imd-program-journey .imd-previus-journey .imd-scroll-action > button,
      .THIS.imd-program-journey .imd-next-journey .imd-scroll-action > button {
        height: 100%; }
  .THIS.imd-program-journey .imd-previus-journey {
    border-right: 1px solid #bdbdbd; }
  .THIS.imd-program-journey .imd-next-journey {
    border-left: 1px solid #bdbdbd; }
  .THIS.imd-program-journey .imd-full-height {
    height: 100%; }
  .THIS.imd-program-journey .imd-journeys {
    margin: 20px 0;
    overflow: hidden; }
    .THIS.imd-program-journey .imd-journeys .imd-journey {
      max-width: 50%;
      width: 33.333%;
      min-width: 355px;
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid #bdbdbd; }
      .THIS.imd-program-journey .imd-journeys .imd-journey:first-child {
        margin-left: 20px; }
      .THIS.imd-program-journey .imd-journeys .imd-journey:last-child {
        margin-right: 20px; }
      .THIS.imd-program-journey .imd-journeys .imd-journey .imd-journey-header .slds-icon_container {
        padding: 0 10px;
        line-height: 50px; }
      .THIS.imd-program-journey .imd-journeys .imd-journey .imd-journey-header .imd-journey-status {
        background-color: #dcdcdc;
        border-right: 1px solid #bdbdbd;
        font-size: 22px;
        line-height: 50px; }
        .THIS.imd-program-journey .imd-journeys .imd-journey .imd-journey-header .imd-journey-status span.imd-journey-step {
          padding: 0 20px; }
      .THIS.imd-program-journey .imd-journeys .imd-journey .imd-journey-header .slds-text-heading_medium {
        line-height: 50px; }
      .THIS.imd-program-journey .imd-journeys .imd-journey .imd-journey-content {
        border-top: 1px solid #bdbdbd;
        padding: 0 20px 10px 20px;
        background-color: #dcdcdc;
        height: 100%; }
