.THIS.imd-timeline .slds-timelime {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px; }
  .THIS.imd-timeline .slds-timelime .slds-timeline__item_expandable {
    position: relative;
    padding-bottom: 1rem; }
    .THIS.imd-timeline .slds-timelime .slds-timeline__item_expandable:before {
      content: '';
      background: #dddbda;
      height: 100%;
      width: 2px;
      position: absolute;
      left: 2.15rem;
      top: 0;
      bottom: 0;
      margin-left: 1px; }
    .THIS.imd-timeline .slds-timelime .slds-timeline__item_expandable .slds-timeline__icon {
      border: 2px solid #fff; }
  .THIS.imd-timeline .slds-timelime .slds-media__figure {
    margin-left: 18px;
    z-index: 1; }
